* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared styles */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  padding: 18px 35px;
  color: white;
  font-weight: bold;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#about .about-container .header h3 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 30px;
}

#about .about-container .header p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* main styles */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url('/images/developer.png'), url('/images/header_bg.png'),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  margin-bottom: 130px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 51px;
}
.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
  margin: 47px 38px 0 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}

#about {
  margin: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background: #fff8f3;
  padding: 131px 156px;
  text-align: center;
}
#about .about-container .about-card {
  display: flex;
  justify-content: space-between;
}
#about .about-container .about-card p {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}
#about .about-container .about-card h4 {
  font-size: 20px;
  color: #474747;
  line-height: 30px;
  font-weight: 900;
}
